#main{
	position: relative;
	border: 1px solid grey;
	width: 372px;
	margin: 25px auto;
}
button{
	margin: 5px;
	width: 80px;
	height: 30px;
}
button:hover{
	background-color: grey;
}
#result{
	text-align: right;
	margin: 5px;
	height: 30px;
	width: 358px;
	border: 1px solid grey;
}